:root {
    --bh-line: #533;
    --bh-primary: #782F40;
    --bh-primary-filter: invert(22%) sepia(16%) saturate(3004%) hue-rotate(300deg) brightness(91%) contrast(88%);
    --bh-secondary: #FFA400;
    --bh-secondary-filter: invert(56%) sepia(98%) saturate(911%) hue-rotate(359deg) brightness(103%) contrast(106%);
    --bh-tertiary: #FFA400;
    --bh-tertiary-filter: invert(56%) sepia(98%) saturate(911%) hue-rotate(359deg) brightness(103%) contrast(106%);
    --bh-dark-grey: #212529;
    --bh-dark-grey-filter: invert(87%) sepia(3%) saturate(0%) hue-rotate(0deg) brightness(27%) contrast(83%);
    --bh-light-grey: #f1f1f1;
    --bh-light-grey-filter: invert(99%) sepia(1%) saturate(522%) hue-rotate(227deg) brightness(118%) contrast(89%);
    --bh-dark-gray: #212529;
    --bh-dark-gray-filter: invert(87%) sepia(3%) saturate(0%) hue-rotate(0deg) brightness(27%) contrast(83%);
    --bh-light-gray: #f1f1f1;
    --bh-light-gray-filter: invert(99%) sepia(1%) saturate(522%) hue-rotate(227deg) brightness(118%) contrast(89%);
    --bh-sand: #FDF5E6;
    --bh-primary-rgb: 120,47,64;
    --bh-secondary-rgb: 255,164,0;
    --bh-tertiary-rgb: 255,164,0;
    --bh-dark-grey-rgb: 33,37,41;
    --bh-light-grey-rgb: 241,241,241;
    --bh-dark-gray-rgb: 33,37,41;
    --bh-light-gray-rgb: 241,241,241;
    --bh-sand-rgb: 253,254,230;
    --bs-primary-rgb: var(--bh-primary-rgb);
    --bs-secondary-rgb: var(--bh-secondary-rgb);
    --bs-emphasis-color-rgb: var(--bh-secondary-rgb);
    --bs-link-color-rgb: var(--bh-secondary-rgb);
}

.breadcrumb {	
    --bs-breadcrumb-item-active-color: var(--bh-secondary);
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, rgb(var(--bh-sand-rgb)), rgb(var(--bh-primary-rgb)));
    font-family: 'Gotham Narrow', sans-serif;
}

body {
	background-repeat: no-repeat;
	background-attachment: fixed;

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	background-image: url('/images/ihcc_lake.jpg');
}

hr {
    color: var(--bh-line);
}

.btn-close-primary {
    filter: var(--bh-primary-filter);
    top: 1rem;
    right: 1rem;
    position: absolute;
}

.btn-close-secondary {
    filter: var(--bh-secondary-filter);
    top: 1rem;
    right: 1rem;
    position: absolute;
}

.btn-close-dark-grey,
.btn-close-dark-gray {
    filter: var(--bh-dark-gray-filter);
    top: 1rem;
    right: 1rem;
    position: absolute;
}

.btn-close-light-grey,
.btn-close-light-gray {
    filter: var(--bh-light-gray-filter);
    top: 1rem;
    right: 1rem;
    position: absolute;
}

.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.scroll-x {
    overflow-x: auto;
}

textarea {
    resize: none;
}

.bg-glass {
	background: rgba(255, 255, 255, 0.16);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.bg-glass-1 {
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.bg-glass-3 {
	background: rgba(255, 255, 255, 0.3);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.bg-glass-5 {
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.bg-glass-7 {
	background: rgba(255, 255, 255, 0.7);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.bg-glass-9 {
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.bg-glass-dark {
	background: rgba(var(--bh-dark-grey), 0.16);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.bg-glass-dark-1 {
	background: rgba(var(--bh-dark-grey), 0.1);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.bg-glass-dark-3 {
	background: rgba(var(--bh-dark-grey), 0.3);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.bg-glass-dark-5 {
	background: rgba(var(--bh-dark-grey), 0.5);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.bg-glass-dark-7 {
	background: rgba(var(--bh-dark-grey), 0.7);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.bg-glass-dark-9 {
	background: rgba(var(--bh-dark-grey), 0.9);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.bg-glass-primary {
	background: rgba(var(--bh-primary-rgb), 0.16);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.bg-glass-primary-1 {
	background: rgba(var(--bh-primary-rgb), 0.1);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.bg-glass-primary-3 {
	background: rgba(var(--bh-primary-rgb), 0.3);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.bg-glass-primary-5 {
	background: rgba(var(--bh-primary-rgb), 0.5);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.bg-glass-primary-7 {
	background: rgba(var(--bh-primary-rgb), 0.7);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.bg-glass-primary-9 {
	background: rgba(var(--bh-primary-rgb), 0.9);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.bg-glass-secondary {
	background: rgba(var(--bh-secondary-rgb), 0.16);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.bg-glass-secondary-1 {
	background: rgba(var(--bh-secondary-rgb), 0.1);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.bg-glass-secondary-3 {
	background: rgba(var(--bh-secondary-rgb), 0.3);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.bg-glass-secondary-5 {
	background: rgba(var(--bh-secondary-rgb), 0.5);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.bg-glass-secondary-7 {
	background: rgba(var(--bh-secondary-rgb), 0.7);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.bg-glass-secondary-9 {
	background: rgba(var(--bh-secondary-rgb), 0.9);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.bh-table-link {
    cursor: pointer;
}

.bh-center {
    margin-left: auto;
    margin-right: auto;
}

.bh-left-bar {
    border-left: 6px solid #ccc !important;
}

.bh-left-bar-primary {
    border-left: 6px solid var(--bh-primary) !important;
}

.bh-left-bar-secondary {
    border-left: 6px solid var(--bh-secondary) !important;
}

.bh-left-bar-warning {
    border-left: 6px solid var(--bs-warning) !important;
}

.bh-left-bar-success {
    border-left: 6px solid var(--bs-success) !important;
}

.bh-left-bar-danger {
    border-left: 6px solid var(--bs-danger) !important;
}

.disabled {
    opacity: .6;
    pointer-events: none;
}

.current {
    background-color: #fff !important;
}

.dropdown-small {
    font-size: .85rem;
    padding: .1rem 1.5rem !important;
}

.dropdown-header {
    padding: .1rem var(--bs-dropdown-item-padding-x) !important;
}

@media only screen and (min-width: 992px) {
    .hide-on-shrink {
        display: block;
    }

    .bh-container-form {
        max-width: 50%;
    }

    .bh-container {
        max-width: 75%;
    }

    .navbar {
        padding: .5rem var(--bs-navbar-padding-x);
    }

    .nav-link {
        color: var(--bh-light-grey) !important;
        padding: 0 var(--bs-nav-link-padding-x);
    }
}

@media only screen and (max-width: 992px) {
    .bh-navbar .btn {
        font-size: .75rem;
    }

    .clear-border-on-shrink {}

    .text-center-on-shrink {
        text-align: center !important;
    }

    .text-start-on-shrink {
        text-align: start !important;
    }

    .text-end-on-shrink {
        text-align: end !important;
    }

    .hide-on-shrink {
        display: none;
    }

    .navbar {
        padding: .25rem var(--bs-navbar-padding-x);
    }

    .nav-link {
        padding: var(--bs-navbar-padding-y) var(--bs-nav-link-padding-x);
    }
}

@media print {
    .pagebreak {
        page-break-before: always;
    }
}

.nav-link:hover {
    color: var(--bh-secondary) !important;
}

.nav-link {
    color: var(--bh-light-grey) !important;
}

td:hover {
    color: var(--bh-secondary) !important;
}

.btn:hover {
    color: var(--bh-secondary) !important;
}

.bh-bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bh-primary-rgb), var(--bs-bg-opacity)) !important;
}

.bh-bg-secondary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bh-secondary-rgb), var(--bs-bg-opacity)) !important;
}

.bh-primary,
.bh-hover-primary:hover {
    color: #fff !important;
    background-color: rgb(var(--bh-primary-rgb)) !important;
}

.bh-secondary,
.bh-hover-secondary:hover {
    color: #333 !important;
    background-color: rgb(var(--bh-secondary-rgb)) !important;
}

.bh-maroon,
.bh-hover-maroon:hover {
    color: #fff !important;
    background-color: rgb(var(--bh-primary-rgb)) !important;
}

.bh-sand,
.bh-hover-sand:hover {
    color: #333 !important;
    background-color: rgb(var(--bh-sand-rgb)) !important;
}

.bh-gold,
.bh-hover-gold:hover {
    color: #333 !important;
    background-color: rgb(var(--bh-secondary-rgb)) !important;
}

.bh-dark-grey,
.bh-hover-dark-grey:hover,
.bh-dark-gray,
.bh-hover-dark-gray:hover {
    color: #fff !important;
    background-color: rgb(var(--bh-dark-grey-rgb)) !important;
}

.bh-light-grey,
.bh-hover-light-grey:hover,
.bh-light-gray,
.bh-hover-light-gray:hover {
    color: #333 !important;
    background-color: rgb(var(--bh-light-grey-rgb)) !important;
}

.img-drop-shadow {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.img-25 {
    width: 25rem;
}

.img-15 {
    width: 15rem;
}

.img-10 {
    width: 10rem;
}

.parallax-canvas {
	background-color:#878787!important;
}

#topButton {
  border-radius: 50% !important;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--bh-primary);
  color: white;
  cursor: pointer;
  padding: 15px;
}
